.col-traductions {
    min-height: 90vh;
    overflow-y: scroll;
}

.col-traductions > h3 {
    padding: 15px 0;
}

.card-traduction {
    border-radius: 10px;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}