<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/style/home.css}" rel="stylesheet" />
    <link href="../../static/style/home.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
      integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container-app">
      <section class="navbar" th:replace="reusable/navbar::navbarFragment"></section>
      <div class="body-app">
        <section class="container-filters">
          <h4>Catégories</h4>
          <ul class="list-group">
            <a th:href="@{/}"><li class="list-group-item">Toutes les publications</li></a>
            <a href="" th:each="category, iStat : ${tags}" th:href="@{/home/category/{id}(id=${category.id})}">
              <li class="list-group-item" th:text="${category.name}"></li>
            </a>
          </ul>
        </section>

        <div class="container-p">
          <h3>Navigation</h3>
          <section class="container-publications">
            <div class="publication"  th:each="publication : ${publications}">
                <img th:src="@{${'/images/' + publication.imageAssociated}}" class="img_publication">
                <label class="publication__tag" th:text="${publication.publicationType.name}"></label>
                <p><q th:text="${publication.texte}"></q></p>
                <label class="publishedBy" th:text="${publication.auteur.getFullName()}">Publié par : </label>
              <a th:href="@{/publication/details/{id}(id=${publication.id})}" class="btn btn-success">Voir les détails</a>
            </div>
          </section>
        </div>

      </div>

      <div class="footer">
        <p>Projet Springboot</p>
      </div>
    </div>
  </body>
</html>
